Temp
Fist Fishing/Library/
Fist Fishing/obj/
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/db.lock
Fist Fishing/.vs/Fist Fishing/v15/.suo
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide-shm
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v15/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/db.lock
Fist Fishing/.vs/Fist Fishing/v16/.suo
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide-shm
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide-wal
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide-wal
*.csproj
Fist Fishing/obj/
Library
Fist Fishing/.vs/
Fist Fishing/Fist Fishing.sln
*.vs*
Fist Fishing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Fist Fishing/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Fist Fishing/.vs/Fist Fishing/v16/.suo
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide
Fist Fishing/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Fist Fishing/.vs/Fist Fishing/v16/.suo
Fist Fishing/.vs/Fist Fishing/v16/Server/sqlite3/storage.ide
*.meta
