Temp
\!Magic Unity Project/Library/
\!Magic Unity Project/obj/
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/db.lock
\!Magic Unity Project/.vs/!Magic Unity Project/v15/.suo
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide-shm
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide-wal
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide-wal
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide-wal
\!Magic Unity Project/.vs/!Magic Unity Project/v15/Server/sqlite3/storage.ide-wal
*.csproj


\!Magic Unity Project/!Magic Unity Project.sln
